/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

.breadcrumb {
    font-size: 0.929em$font-size-sm;
    background: #7979790d;
}

.block-system-breadcrumb-block{
    padding-top: 15px;
}

.region-breadcrumb {
    padding: 0 15px 0.25em;
    width: 100%;
}